@using Microsoft.Extensions.Configuration
@using CEAApp.Web.DIServices
@using CEAApp.Web.Models

@model ProjectViewModel

@inject IConfiguration Configuration
@inject IConverterService ConverterService
@inject ILookupService LookupService

@{
    ViewData["Title"] = "Projects  Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Get the current logged on User ID
    var userName = ConverterService.ConvertObjectToString(TempData.Peek("UserID"));
}

<div class="formWrapper container-fluid">
    <form asp-area="UserFunctions" asp-controller="Project" method="get">
        <div class="alert alert-danger alert-dismissible fade show errorPanel" style='display: @(!string.IsNullOrWhiteSpace(Model.ErrorMessage) ? "block" : "none")'>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Error! </strong>&nbsp;<span class="errorText">@Model.ErrorMessage</span>
        </div>
        <div class="alert alert-success alert-dismissible fade show successPanel" style='display: @(!string.IsNullOrWhiteSpace(Model.NotificationMessage) ? "block" : "none")'>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Success!</strong>&nbsp;<span class="successText">@Model.NotificationMessage</span>
        </div>

        <div class="container-fluid p-0 m-0">
            <div class="row no-gutters">
                <div class="col-12 mt-2">
                    <div class="formHeader">
                        <span><i class="fas fa-home fa-1x fa-fw"></i></span>
                        @ViewData["Title"]
                    </div>
                </div>
            </div>

            <div class="requestHeader">
                <div class="form-row">
                    <div class="col-12 mx-auto px-5">
                        <div class="alert alert-danger alert-dismissible fade show errorMsgBox" hidden>
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Error! </strong>&nbsp;<span class="errorMsg">Test error!</span>
                        </div>
                        <div class="alert alert-success alert-dismissible fade show successMsgBox" hidden>
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Success!</strong>&nbsp;<span class="successMsg">Test success!</span>
                        </div>
                    </div>
                </div>
                <div class="container-fluid ps-2 pe-0 me-0 pt-3 pb-2">
                    <div class="row pt-0 mt-0 pe-4" hidden>
                        <div class="col-sm-12 text-danger clearfix">
                            <span class="font-italic float-end">- indicates a required field</span>
                            <span class="float-end me-1"><i class="fas fa-asterisk fa-fw fa-xs"></i></span>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-2 fieldLabel">
                            <label class="col-form-label" data-field="FiscalYear">Fiscal Year</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="cboFiscalYear" class="form-select fieldValue w-50"
                                    title="Tips:" data-toggle="popover" data-content="Select Fiscal Year" data-trigger="hover" data-placement="top"
                                    asp-for="FiscalYear" asp-items="Model.FiscalYearArray" name="fiscalYear" style="padding-left: -5px;">
                                <option value="">All</option>
                            </select>
                            <div class="form-row errorPanel" id="fiscalYearValid" hidden>
                                <div class="col-sm-12">
                                    <div class="alert alert-danger alert-dismissible mt-1 fade show">
                                        <span><i class="fas fa-times-circle fa-fw fa-lg"></i></span>
                                        <span class="errorText"></span>
                                    </div>
                                </div>
                            </div>
                            @*@Html.DropDownList("FiscalYear",
                            LookupService.ListFiscalYear().Select(m => new SelectListItem() {Text = m.ToString(), Value = m.ToString()}),
                            " ",
                            new { @class = "form-control form-select fieldValue"})*@
                        </div>
                        <div class="col-sm-2 fieldLabel">
                            <label class="col-form-label">Expenditure Type</label>
                        </div>
                        <div class="col-sm-3 pe-4">
                            <select id="cboExpenditureType" class="form-control form-select fieldValue"
                                    title="Tips:" data-toggle="popover" data-content="Select Expenditure Type" data-trigger="hover" data-placement="top"
                                    asp-for="ExpenditureType" asp-items="Model.ExpenditureTypeArray" name="expenditureType" style="padding-left: -5px;">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-2 fieldLabel">
                            <label class="col-form-label">Project Status</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="cboProjectStatus" class="form-control form-select fieldValue"
                                    title="Tips:" data-toggle="popover" data-content="Select the status" data-trigger="hover" data-placement="top"
                                    asp-for="ProjectStatus" asp-items="Model.ProjectStatusArray" name="projectStatus" style="padding-left: -5px;">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-2 fieldLabel">
                            <label class="col-form-label">Project No.</label>
                        </div>
                        <div class="col-sm-3 pe-4">
                            <input id="txtProjectNo" class="form-control form-control-sm fieldValue" maxlength="12"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Enter numeric values only!"
                                   onkeypress="return onlyNumberKey(event)" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-2 fieldLabel">
                            <label class="col-form-label">Cost Center</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="cboCostCenter" class="form-control form-select fieldValue"
                                    title="Tips:" data-toggle="popover" data-content="Select cost center" data-trigger="hover" data-placement="top"
                                    asp-for="CostCenter" asp-items="Model.CostCenterArray" name="costCenter" style="padding-left: -5px;">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-2 fieldLabel">
                            <label class="col-form-label">Keywords</label>
                        </div>
                        <div class="col-sm-3 pe-4">
                            <input id="txtKeyword" class="form-control form-control-sm fieldValue"
                                   placeholder="enter search string here..." maxlength="50" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="button" id="btnSearch" class="btn btn-sm btn-success float-sm-start text-white border-0 rounded-3 actionButton"
                                    style="width: 130px;" tabindex="18"
                                    onclick="searchButtonClick()">
                                <span class="spinner-border spinner-border-sm spinicon" hidden></span>
                                <span class="normalicon"><i class="fas fa-search fa-fw fa-lg"></i></span>&nbsp;
                                Search
                            </button>
                            <button type="button" id="btnReset" class="btn btn-sm btn-warning text-white border-0 rounded-3 actionButton"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Clears the form"
                                    onclick="resetButtonClick()" style="width: 130px;" tabindex="22">
                                <span><i class="fas fa-sync fa-fw fa-lg"></i></span>&nbsp;
                                Reset
                            </button>
                            <input type="reset" id="btnHiddenReset" value="Reset Form" hidden />
                        </div>
                    </div>

                    <div class="row mt-2 mb-1 groupTitle">
                        <div class="col-sm-12 clearfix">
                            <span class="ps-3 text-primary">Search Results:</span> &nbsp;
                            <span class="float-sm-end">
                                <button type="button" class="btn btn-link pe-4 me-4 linkTitle" hidden>Add New Contractor</button>
                            </span>
                        </div>
                    </div>

                    <div class="row mt-0 pt-0 mx-2 mb-2">
                        <div class="col-sm-12 ps-2 pe-3">
                            <div class="container-fluid tablePanel gridWrapper">
                                <div class="table-responsive py-3" style="-ms-overflow-style: auto;">
                                    <table id="projectTable" class="generalTable display nowrap stripe row-border  table-bordered" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th class="centeredColumn doNotOrder">

                                                </th>
                                                <th class="centeredColumn">
                                                    Fiscal Year
                                                </th>
                                                <th class="centeredColumn">
                                                    Cost Center
                                                </th>
                                                <th class="centeredColumn">
                                                    Project No.
                                                </th>
                                                <th class="centeredColumn">
                                                    Project Date
                                                </th>
                                                <th class="centeredColumn">
                                                    Expense Type
                                                </th>
                                                <th class="centeredColumn doNotOrder">
                                                    Description
                                                </th>
                                                <th class="centeredColumn doNotOrder">
                                                    Detailed Description
                                                </th>
                                                <th class="centeredColumn doNotOrder">
                                                    Account No.
                                                </th>
                                                <th class="centeredColumn">
                                                    Status
                                                </th>
                                                <th class="centeredColumn">
                                                    Project Amount
                                                </th>
                                                <th class="hiddenColumn" style="display: none;">
                                                    Project ID
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="hidden" id="hidUserName" value="@userName" name="UserName" />
            <input type="hidden" id="hidFormCode" asp-for="FormCode" />
            <input type="hidden" id="hidCostCenter" name="CostCenter" />
            <input type="hidden" id="hidUserEmpNo" name="UserEmpNo" />
        </div>
    </form>
</div>

@section Scripts{
    <script>
        // Initialize tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <script type="text/javascript">
         @Model.JavascriptToRun

         function ShowErrorPopup() {
              alert('Testing javascript call from Controller action.');
         }

         function viewHideLoadingPanel(container) {
            if (container != null && container != undefined)
                HideWaitMe(container);
        }
    </script>

    <script src="~/js/projectInquiry.js?v=@Configuration["AppSettings:JavaScriptFileVersion"]"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

